.container {
  height: 100%;
  width: 100%;
  color: #fff;
}

.scores {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.score {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
  font-size: 300px;
}
.score:first-of-type {
  background-color: #1677ab;
}
.score:last-of-type {
  background-color: #ca4949;
}

.text {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  position: absolute;
  bottom: 0;
  padding: 0.25rem;
}
.text a {
  margin: 0 0.5rem;
}